@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap");
:root {
 font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
 line-height: 1.5;
 font-weight: 400;

 font-synthesis: none;
 text-rendering: optimizeLegibility;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}
button {
 appearance: none;
 -webkit-appearance: none;
 -moz-appearance: none;
 border: none;
 margin: 0;
 padding: 0;
 background: none;
 cursor: pointer;
}
body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
ul,
li {
 text-decoration: none;
 list-style: none;
}
h1 {
 font-size: 2.5em;
}

h2 {
 font-size: 1.875em;
 line-height: 2rem;
 font-weight: 300;
 letter-spacing: 0.05em;
}
h3 {
 font-size: 1.275em;
}
h4 {
 font-size: 1.075em;
}
p,
input {
 font-size: 0.975em;
}

.main__title {
 margin: 2.5rem 0;
}
.main-layout {
 display: flex;
 flex-direction: column;
 white-space: nowrap;
}

.hero {
 position: relative;
 width: 100%;
 height: 100vh;
 overflow: hidden;
}

.hero img {
 height: 100%;
 width: 100%;
 object-fit: cover;
 object-position: center;
}

.hero__overlay {
 background-image: linear-gradient(to top, #40c8f4, #2179b5);
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 opacity: 70%;
}

.form__container {
 position: absolute;
 padding: 0 2rem 2.5rem 2rem;
 background-color: #ffffff;
 animation: show forwards 1;
 animation-duration: 0.6s;
}

.main-container {
 flex: 1 1 0%;
 align-items: center;
 z-index: 10;
 display: flex;
 justify-content: center;
}

label {
 color: #999999;
 font-weight: 500;
}

input[type="text"],
input[type="email"] {
 display: block;
 width: 100%;
 padding: 0.6rem 0rem;
 line-height: 0.5;
 font-weight: 400;
 color: #efeeed;
 border: none;
 border-radius: 0;
 border-bottom: 2px solid #dbdbdb;

 box-sizing: border-box;
 outline: none;
}

input[type="text"]:focus {
 color: #555555;
}

.form__style {
 display: flex;
 flex-direction: column;
 gap: 0.8rem;
}

.validation__field {
 color: red;
 margin: 0.3rem 0;
}

.button__container {
 margin-top: 2rem;
 display: flex;
 justify-content: space-between;
 align-items: center;
 gap: 0.75rem;
}

.button__container svg {
 height: 15px;
 width: 20px;
}

.icon_button--align {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 2px;
}

.btn-ghost {
 background-color: transparent;
 color: black;
 padding: 0.5rem 1rem;
 border-radius: 99px;
 height: 2.5rem;
 width: 100%;
 max-width: 7rem;
}
.btn__danger {
 background: rgb(253, 48, 48);
 color: white;
 padding: 0.5rem 1rem;
 border-radius: 99px;
 height: 2.5rem;
 width: 100%;
}
.btn__danger:hover {
 opacity: 70%;
}
.btn-ghost:hover {
 background-color: hsl(210 40% 96.1%);
}

.btn-primary {
 background-color: #40c8f4;
 color: white;
 padding: 0.5rem 1rem;
 border-radius: 99px;
 height: 2.5rem;
 width: 100%;
}

.btn-primary:hover {
 opacity: 70%;
}

.profile {
 justify-content: center;
 align-items: center;
 min-height: 100vh;
 text-align: center;
 width: 100%;
}

.profile section {
 width: -webkit-fill-available;
 display: flex;
 justify-content: center;
 margin: 2rem;
}
.profile nav {
 position: absolute;
 top: 0;
 left: 0;
 padding: 2rem;
 cursor: pointer;
}
.container__welcome {
 box-shadow: 8px 12px 14px -13px rgba(0, 0, 0, 0.1);
 border-radius: 8px;
 z-index: 20;
 opacity: 0;
 padding: 1rem;
 background: white;
 width: 100%;
 max-width: 20rem;
 height: 18rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 margin: auto;
 animation: show forwards 1;
 animation-duration: 0.6s;
}

.container__welcome button,
h3 {
 margin-top: auto;
}

.overlay__profile {
 position: absolute;
 height: 100vh;
 width: 100%;
 background-image: linear-gradient(to top, #40c8f4, #2179b5);
 opacity: 70%;
 top: 0;
}

.sidenav {
 position: absolute;
 display: flex;
 flex-direction: column;
 left: 0;
 top: 0;
 height: 100vh;
 background: white;
 width: 80%;
 animation: 0.2s linear slidein 1;
}

.sidenav div {
 margin-top: auto;
}

.sidenav header {
 margin: 2rem;
 display: flex;
 align-items: center;
 flex-wrap: wrap;

 justify-content: space-between;
}

.sidenav ul {
 display: flex;
 flex-direction: column;
 gap: 2rem;
}
.sidenav li {
 display: flex;
 gap: 1rem;
 flex-wrap: wrap;

 flex-direction: row;
}
.sidenav svg {
 cursor: pointer;
}

.sidenav div {
 padding: 1rem;
}

@keyframes slidein {
 from {
  transform: translateX(-50%);
 }
 to {
  transform: translateX(0%);
 }
}

@keyframes slideout {
 from {
  transform: translateX(0%);
 }
 to {
  transform: translateX(-50%);
 }
}

@keyframes show {
 from {
  opacity: 0;
 }
 to {
  opacity: 1;
 }
}

@media (min-width: 768px) {
 .form__container {
  position: relative;
  background-color: transparent;
  padding-bottom: 0;
  width: 400px;
 }
 .main-container {
  align-items: start;
 }
 .sidenav {
  width: 400px;
 }
}
